.card-header{
    background-color: #3a7485;
}
.btn-roxo{
    background-color: #492c4d;
}
.btn-verde{
    background-color: #3a7485;
}
.btn-default{
    background-color: #3a7485;
}
.progress-bar-info {
    background-color: #492c4d;
}